In [2]:
# Import initial libraries
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import plotly.graph_objs as go
%matplotlib inline

# Imports in order to be able to use Plotly offline.
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
print(__version__) # requires version >= 1.9.0

init_notebook_mode(connected=True)

3.8.0

In [14]:
# The below will pull back stock prices from the start date until end date specified.
start_sp = datetime.datetime(2014, 1, 1)
end_sp = datetime.datetime(2019, 4, 15)

In [15]:
from pandas_datareader import data as pdr
import fix_yahoo_finance as yf
yf.pdr_override()
sp500 = pdr.get_data_yahoo('^GSPC', 
                           start_sp,
                             end_sp)
    
sp500.head()

[*********************100%***********************]  1 of 1 downloaded

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-01-02,1845.859985,1845.859985,1827.739990,1831.979980,1831.979980,3080600000
2014-01-03,1833.209961,1838.239990,1829.130005,1831.369995,1831.369995,2774270000
2014-01-06,1832.310059,1837.160034,1823.729980,1826.770020,1826.770020,3294850000
2014-01-07,1828.709961,1840.099976,1828.709961,1837.880005,1837.880005,3511750000
2014-01-08,1837.900024,1840.020020,1831.400024,1837.489990,1837.489990,3652140000

In [16]:
sp500.reset_index(inplace=True)
sp500.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-01-02,1845.859985,1845.859985,1827.739990,1831.979980,1831.979980,3080600000
1,2014-01-03,1833.209961,1838.239990,1829.130005,1831.369995,1831.369995,2774270000
2,2014-01-06,1832.310059,1837.160034,1823.729980,1826.770020,1826.770020,3294850000
3,2014-01-07,1828.709961,1840.099976,1828.709961,1837.880005,1837.880005,3511750000
4,2014-01-08,1837.900024,1840.020020,1831.400024,1837.489990,1837.489990,3652140000

In [21]:
df = sp500.tail(500).copy()

In [20]:
import plotly
plotly.tools.set_credentials_file(username='Zarrina', api_key='_')

In [22]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd
from datetime import datetime


trace = go.Ohlc(x=df['Date'],
                open=df['Open'],
                high=df['High'],
                low=df['Low'],
                close=df['Close'])
data = [trace]
py.iplot(data, filename='sp500_chart_3')